name: Deploy to AWS Lambda

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'zulu'

      - name: Setup AWS CLI
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Start LocalStack
        id: start-localstack
        uses: LocalStack/setup-localstack@v0.1.2
        with:
          image-tag: 'latest'
          install-awslocal: 'true'

      - name: Execute scripts in LocalStack
        run: |
          cd $GITHUB_WORKSPACE
          find . -type f -name "*.sh" -exec chmod +x {} \;
          find . -type f -name "*.sh" -exec sh {} \;

      - name: Build with Maven
        run: mvn -B package -DfinalName=postmanager --file pom.xml

      - name: Build, tag, and push docker image to Amazon ECR
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: nexusnet-postmanager
        run: |
          docker build -t $REGISTRY/$REPOSITORY:latest .
          docker push $REGISTRY/$REPOSITORY:latest

      - name: Update Lambda function with latest ECR image
        env:
          LAMBDA_NAME: postmanager_api_ecr
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: nexusnet-postmanager
          IMAGE_TAG: latest
        run: |
          aws lambda update-function-code \
          --function-name $LAMBDA_NAME \
          --image-uri $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG